/* Navbar.css */

body {
   
    font-family: Arial, sans-serif;
    width:'80%';
    margin:'auto'
  }
  
  nav {
    background-color: #959292;
    overflow: hidden;
    margin:'auto';
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #a79c9c;
  }
  
  /* Responsive layout - makes the navbar links stack instead of float */
  @media screen and (max-width: 600px) {
    nav ul li {
      float: none;
    }
  }
  